.default-container
  .item-box-container
    .item-name
      %h1 正規品！COACH【コーチ】★★大きめ ミニシグネチャー ショルダーバッグ
    .item-main-content-clearfix
      .item-photo
        .owl-carousel
          .owl-stage-outer
            .owl-stage
              .owl-item
                .owl-item-inner
                  = image_tag('https://static.mercdn.net/item/detail/orig/photos/m70068440240_1.jpg?1539045823', :size => '360x360')
      .item-price-box
        .item-price
          %span ¥ 3,380
        .item-tax
          %span  (税込)
        .item-shipping-fee
          %span 送料込み

      .item-buy-btn
        売り切れました
      .item-detail-table
        %table
          %tr
            %th 出品者
            %td DPS(ぶーん)@コスパNo1優良店
          %tr
            %th カテゴリー
            %td ショルダーバッグ
          %tr
            %th ブランド
            %td コーチ
          %tr
            %th 商品の状態
            %td やや傷や汚れあり
          %tr
            %th 配送料の負担
            %td 送料込み(出品者負担)
          %tr
            %th 配送の方法
            %td らくらくメルカリ便
          %tr
            %th 配送元地域
            %td 兵庫県
          %tr
            %th 発送日の目安
            %td 1~2日で発送

      .item-description
        .item-description-inner
          %p 商品の説明あとでコピペする
