// To name colors, I used the following web site;
// https://www.color-blindness.com/color-name-hue/

// basic colors
$brown: #aa262a;
$cinnabar: #ea352d;
$cornSilk: #fff6de;
$darkGray: #aaa;
$darkwhite: #fafafa;
$irisBlue: #05B0B4;
$lightWhiteSmoke: #f5f5f5;
$nero: #212121;
$nightRider: #333;
$pacificBlue: #0099e8;
$pictonBlue: #5d9dc9;
$suvaGrey: #888;
$toryBlue: #385185;
$veryLightGrey: #ccc;
$white: #fff;
$whiteSmoke: #eee;
